<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "org.mitre.hossenlopp.TicTacToe"
        version     = "1.0.0" >

    <name>TicTacToe</name>

    <description>
        A hello world example app.
    </description>

    <author href="https://github.com/hossenlopp/TicTacToe" email="hossenlopp@mitre.org">
        Chris Hossenlopp
    </author>

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>

    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />

	<gap:platform name="ios" />
	<gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.vibration" />


    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19" />


</widget>